<!DOCTYPE html>
<html>
	<head>
		<base href="/">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>fractures</title>
		<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
		<link href="https://unpkg.com/fractures/dist/fractures.prefixed.min.css" rel="stylesheet">
		<link href="/style.css" rel="stylesheet">
	</head>
	<body>
		<main id="app">

			<!-- Hero -->
			<div class="container flex flex--rsp-l gutter-4 py-5">
				<div><img src="/images/fractures.svg" style="height: 160px; width: 160px;" alt="fractures"></div>
				<div class="grow-2">
					<h1 title="fractures">fr&middot;ctures</h1>
					<b class="source-code-pro">Baseline atomic CSS toolkit.</b>
					<p class="my-3">Fractures helps you bootstrap design-systems and prototypes by providing a set of non-blocking, atomic, utility classes.</p>

					<a onclick="document.getElementById('getting-started').scrollIntoView(true);" class="btn btn-primary">Getting started</a>
					<a href="https://github.com/fractures/fractures" class="btn btn-default ml-1">GitHub</a>
					<div class="mt-3 silver source-code-pro">
						<small>version: 0.4.31<br>size: 2.5kb gzipped</small>
					</div>
				</div>
			</div>

			<!-- Skeletons -->
			<div class="skeleton py-4">
				<div class="container">

					<!-- Cases -->
					<ul class="flex flex--around gutter-3">
						<li
							v-bind:class="{ active: example === 'layout' }"
							v-on:click="example = 'layout'"
							data-after="layout"
							class="skeleton-item skeleton-item--layout"></li>
						<li
							v-bind:class="{ active: example === 'flex' }"
							v-on:click="example = 'flex'"
							data-after="flex"
							class="skeleton-item skeleton-item--flex"></li>
						<li
							v-bind:class="{ active: example === 'container' }"
							v-on:click="example = 'container'"
							data-after="container"
							class="skeleton-item skeleton-item--container"></li>
						<li
							v-bind:class="{ active: example === 'sticky' }"
							v-on:click="example = 'sticky'"
							data-after="sticky"
							class="skeleton-item skeleton-item--sticky"></li>
					</ul>

					<!-- Codes -->
					<div
						v-cloak
						v-if="example"
						class="relative mt-3 py-3">

						<!-- Grid -->
						<pre
							v-if="example === 'layout'"
							class="pre-line">
							<span class="color--orange">// Basic flex layout with gutter and vertical margins</span>
							&lt;div class="<span class="color--green">flex gutter-2 my-2</span>"&gt;
								&emsp;&lt;div class="<span class="color--green">grow-1</span>"&gt;&lt;/div&gt;
								&emsp;&lt;div class="<span class="color--green">grow-1</span>"&gt;&lt;/div&gt;
							&lt;/div&gt;
						</pre>

						<!-- Flex -->
						<pre
							v-if="example === 'flex'"
							class="pre-line">
							<span class="color--orange">// Centered flex content</span>
							&lt;div class="<span class="color--green">flex flex--center</span>"&gt;
								&emsp;&lt;div&gt;&lt;/div&gt;
							&lt;/div&gt;
						</pre>

						<!-- Container -->
						<pre
							v-if="example === 'container'"
							class="pre-line">
							<span class="color--orange">// Responsive containers based on material design breakpoints</span>
							&lt;div class="<span class="color--green">container-small</span>"&gt;&lt;/div&gt;
							&lt;div class="<span class="color--green">container</span>"&gt;&lt;/div&gt;
							&lt;div class="<span class="color--green">container-large</span>"&gt;&lt;/div&gt;
						</pre>

						<!-- Sticky -->
						<pre
							v-if="example === 'sticky'"
							class="pre-line">
							<span class="color--orange">// Sticky footer with minimum element height</span>
							&lt;div class="<span class="color--green">flex flex--column minvh-100</span>"&gt;
								&emsp;&lt;div class="<span class="color--green">grow-1</span>"&gt;&lt;/div&gt;
								&emsp;&lt;footer&gt;&lt;/footer&gt;
							&lt;/div&gt;
						</pre>
					</div>
				</div>
			</div>

			<!-- Content -->
			<div class="container py-4" id="getting-started">

				<!-- Getting started -->
				<h2 class="regular mb-1">Getting started</h2>
				<ul class="list-disc mb-4 ml-3">
					<li>npm install fractures</li>
					<li>download vanilla &rarr; <a href="https://unpkg.com/fractures/dist/fractures.min.css">fractures.min.css</a></li>
					<li>download prefixed for latest 2 browser version &rarr; <a href="https://unpkg.com/fractures/dist/fractures.prefixed.min.css">fractures.prefixed.min.css</a></li>
					<li>use <a href="https://unpkg.com/fractures/dist/fractures.prefixed.min.css">unpkg</a> cdn</li>
				</ul>

				<!-- Goals -->
				<h2 class="regular mb-1">Goals</h2>
				<ul class="list-disc mb-4 ml-3">
					<li>You can design with &mdash; not around it. Leaves UI untouched.</li>
					<li>Atomic, non blocking.</li>
					<li>Managable cognitive load, with a small footprint.</li>
					<li>Fast in every way.</li>
				</ul>

				<!-- Docs -->
				<h2 class="regular mb-1">List of classes</h2>
				<ul class="docs list-disc ml-3">

					<!-- Blocks -->
					<li v-for="(block, name) in blocks" class="mb-2">

						<!-- Sets -->
						<p v-html="name"></p>
						<div v-for="(array, index) in block">
							<div class="flex flex--wrap gutter-2">
								<div v-html="index + ' &rarr;'" class="docs-class silver"></div>
								<div v-for="elem in array" v-html="elem" class="class"></div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</main>
	</body>
	<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
	<script src="https://unpkg.com/vue-resource/dist/vue-resource.min.js"></script>
	<script type="text/javascript">
		new Vue({
			el: "#app",
			data: {
				blocks: [],
				example: "layout"
			},
			created: function() {
				this.fetchBlocks()
			},
			methods: {
				fetchBlocks: function() {
					this.$http.get("/blocks.json")
						.then((response) => {
							this.blocks = response.body;
						});
				}
			}
		});

		(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,"script","https://www.google-analytics.com/analytics.js","ga");
		ga("create", "UA-17037942-5", "auto");
		ga("send", "pageview");
	</script>
</html>
