<!DOCTYPE html>
<html>
	<head>
		<base href="/">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>fractures</title>
		<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
		<link href="https://unpkg.com/fractures/dist/fractures.prefixed.min.css" rel="stylesheet">
		<link href="/style.css" rel="stylesheet">
	</head>
	<body>
		<main id="app">

			<!-- Hero -->
			<div class="container flex flex--rsp-l gutter-4 py-5">
				<div><img src="/images/fractures.svg" style="height: 160px; width: 160px;" alt="fractures"></div>
				<div class="grow-2">
					<h1 title="fractures">fr&middot;ctures</h1>
					<b class="source-code-pro">The baseline atomic CSS toolkit.</b>
					<p class="my-3">Fractures helps you bootstrap design-systems and prototypes by providing a set of non-blocking, atomic, utility classes.</p>
					<a href="https://github.com/fractures/fractures" class="btn btn-primary">GitHub</a>
				</div>
			</div>

			<!-- Skeletons -->
			<div class="skeletons py-4">
				<div class="container">
					<div>
						<ul class="flex flex--around flex--rsp-m gutter-3">
							<li class="center">
								<a class="block" href="/examples/center.html">
									<img src="/images/browser--center.png" alt="">
									<span class="block mt-1">centered</span>
								</a>
							</li>
							<li class="center">
								<a class="block" href="/examples/container.html">
									<img src="/images/browser--container.png" alt="">
									<span class="block mt-1">containers</span>
								</a>
							</li>
							<li class="center">
								<a class="block" href="/examples/gutter.html">
									<img src="/images/browser--grid.png" alt="">
									<span class="block mt-1">grid</span>
								</a>
							</li>
							<li class="center">
								<a class="block" href="/examples/sticky-footer.html">
									<img src="/images/browser--sticky.png" alt="">
									<span class="block mt-1">sticky</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Content -->
			<div class="container py-4">

				<!-- Getting started -->
				<h2 class="regular mb-1">Getting started</h2>
				<ul class="list-disc mb-4 ml-3">
					<li>npm install fractures</li>
					<li>download vanilla &rarr; <a href="https://unpkg.com/fractures/dist/fractures.min.css">fractures.min.css</a></li>
					<li>download prefixed for latest 2 browser version &rarr; <a href="https://unpkg.com/fractures/dist/fractures.prefixed.min.css">fractures.prefixed.min.css</a></li>
					<li>use <a href="https://unpkg.com/fractures/dist/fractures.prefixed.min.css">unpkg</a> cdn</li>
				</ul>

				<!-- Goals -->
				<h2 class="regular mb-1">Goals</h2>
				<ul class="list-disc mb-4 ml-3">
					<li>You can design with &mdash; not around it. Leaves UI untouched.</li>
					<li>Atomic, non blocking.</li>
					<li>Managable cognitive load, with a small footprint.</li>
					<li>Fast in every way.</li>
				</ul>

				<!-- Docs -->
				<h2 class="regular mb-1">List of classes</h2>
				<ul class="docs list-disc ml-3">

					<!-- Blocks -->
					<li v-for="(block, name) in blocks" class="mb-2">

						<!-- Sets -->
						<p v-html="name"></p>
						<div v-for="(array, index) in block">
							<div class="flex flex--wrap gutter-2">
								<div v-html="index + ' &rarr;'" class="class silver"></div>
								<div v-for="elem in array" v-html="elem" class="class"></div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</main>
	</body>
	<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
	<script src="https://unpkg.com/vue-resource/dist/vue-resource.min.js"></script>
	<script type="text/javascript">
		new Vue({
			el: "#app",
			data: {
				blocks: []
			},
			created: function() {
				this.fetchBlocks()
			},
			methods: {
				fetchBlocks: function() {
					this.$http.get("/blocks.json")
						.then((response) => {
							this.blocks = response.body;
						});
				}
			}
		});
	</script>
	<script>
		(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,"script","https://www.google-analytics.com/analytics.js","ga");
		ga("create", "UA-17037942-5", "auto");
		ga("send", "pageview");
	</script>
</html>
