:root {
	--color-high: #e5fedd;
	--color-dark: #3e3c75;
	/*--color-darkest: #272634;*/

	--color-green: #50e1a0;
	--color-gray: #e0e1ea;

	--color-red: #ff5656;
	--color-orange: #ffe1a0;
}

*::selection {
	background-color: var(--color-high);
}
html {
	background-color: var(--color-gray);
}

body {
	background-color: white;
	color: black;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

a {
	color: var(--color-green);

	cursor: pointer;
	font-weight: 500;
}

.fr-content {
	margin-top: 4rem;
}
.fr-container {
	margin: 0 auto;
	width: 990px;
}

.source-code-pro {
	font-family: "Source Code Pro", monospace;
}

/*.color-dark { color: var(--color-dark); }*/
/*.color-gray { color: var(--color-gray); }*/
/*.color-green { color: var(--color-green); }*/
.color-red {
	color: var(--color-red);
}
/*.color-orange { color: var(--color-orange); }*/
.bg-color-gray {
	background-color: var(--color-gray);
}
/*.bg-color-dark { background-color: var(--color-dark); }*/

/*Button*/
.btn {
	padding: 0 1.25rem;

	font-size: .875rem;
	font-weight: 600;
	line-height: 2.5rem;
	text-align: center;
	user-select: none;
}

.btn-primary {
	background-color: black;
	color: white;
}

.btn-default {
	box-shadow: inset 0 0 0 2px var(--color-gray);
	color: black;
}

/*Skeleton display*/
pre {
	font-size: 12px;
	line-height: 1.5;
}

.skeleton-item {
	float: left;

	height: 7.5rem;
	width: 7.5rem;

	border-radius: .5rem;
	box-shadow: 0 .25rem 1.5rem 0 rgba(0, 0, 0, .1);
}

.skeleton-item.active {
	background-color: var(--color-green);
	background-blend-mode: soft-light;
}

/*Skeleton nav*/
.skeleton__nav li {
	padding-top: 1rem;
}

.skeleton__nav a {
	position: relative;

	color: black;
}

.skeleton__nav a:before {
	left: 50%;
	position: absolute;

	display: block;
	margin-left: -.125rem;
	margin-top: -.5rem;
	height: .25rem;
	width: .25rem;

	background-color: var(--color-dark);
	border-radius: 100%;
	content: " ";
}

.skeleton__nav .active a {
	color: var(--color-green);
}
.skeleton__nav .active a:before {
	background-color: var(--color-green);
}
