:root {
	--color-high: #e5fedd;
	--color-dark: #323156;
	--color-gray: #a2a2ad;
	--color-silver: #eaeaf0;

	--color-green: #219f73;
	--color-red: #db5454;
}

*::selection {
	background-color: var(--color-high);
}

html {
	background-color: var(--color-silver);
}

body {
	background-color: white;
	color: var(--color-dark);

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

a {
	color: var(--color-green);

	cursor: pointer;
	font-weight: 500;
}

.source-code-pro {
	font-family: "Source Code Pro", monospace;
	font-weight: 400;
}

.btn {
	padding: 0 1.25rem;

	font-size: .875rem;
	font-weight: 600;
	line-height: 2.5rem;
	text-align: center;
	user-select: none;
	white-space: nowrap;
}

.btn-primary {
	background-color: var(--color-dark);
	color: white;
}

.btn-default {
	box-shadow: inset 0 0 0 2px var(--color-silver);
	color: var(--color-dark);
}

.fr-bg-silver {
	background-color: var(--color-silver);
}

pre {
	font-size: .75rem;
	font-family: "Source Code Pro", monospace;
	line-height: 1.5;
}

pre::selection,
pre *::selection {
	background-color: var(--color-silver);
}

pre span em {
	color: var(--color-red);

	font-style: normal;
}

pre span {
	display: block;
}

pre a {
	color: var(--color-dark);

	font-weight: bold;
}
